@model IEnumerable<ShippingManagmeent.Menu>
<!-- sidebar -->
<!--<div class="sidebar">-->
    <!-- Sidebar user panel -->
    <!--<div class="user-panel">
        <div class="image text-center"><img src="~/Content/bizadmin/demo/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
        <div class="info">
            <p>firoz Pierce</p>
            <a href="#"><i class="fa fa-envelope"></i></a> <a href="#"><i class="fa fa-gear"></i></a> <a href="#"><i class="fa fa-power-off"></i></a>
        </div>
    </div>-->
    <!-- sidebar menu -->
    <!--<ul class="sidebar-menu" data-widget="tree">
        <li class="header">PERSONAL</li>
        <li class="active treeview">
            @foreach (var item in Model)
            {
                <a href="#"> <i class="icon-home"></i> <span> @Html.DisplayFor(modelItem => item.Menu1)</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    @foreach (var sub in item.Submenu)
                    {
                        <li class="active"><a href="~/Aspnet_Membership/Index"><i class="fa fa-angle-right"></i> @Html.DisplayFor(modelItem => sub.SubMenu1)</a></li>
                    }
                    </ul>
            }
            </li>
       
    </ul>
</div>-->
<!-- /.sidebar -->